import { useQuery } from '@apollo/react-hooks';

function App() {
  const { 
    loading, error, data 
  } = useQuery(INIT_PROJECT);

  if (loading){
    return 'Loading…'
  }
  
  if (error) {
    return `Error! ${error.message}`
  }
  return <Project data={data} />
}