import { useMutation } from '@apollo/react-hooks';

function SelectionItemButton({ 
  projectId, currentStep, selectionItem 
}) {

  const [ mutate ] = useMutation(SET_SELECTIONS);
  
  return (
    <button onClick={ () => mutate() }>
      { selectionItem.label }
    </button>
  );
}
