function SelectionItemButton({ ... }) {
  const [ mutate ] = useMutation(SET_SELECTIONS)
  return (
    <button
      onClick={() => {
        mutate({
          variables: { ... },
          optimisticResponse: {
            
          }
        })
      }}
    >
      { selectionItem.label }
    </button>
  )
}
